<!--<p id="notice"><%= notice %></p> -->

<h3 align="center">Friends of Toru Kurahashi</h3>
<%= link_to 'Add New Friend', new_friend_path ,class: "btn btn-md btn-primary"%>

<table class="table table-striped">
<thead>
    <tr>
     
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email id</th>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.fname %></td>
        <td><%= friend.lname %></td>
        <td><%= friend.emailid %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.dob %></td>
        <td><%= friend.address %></td>
        <td><%= link_to 'Show', friend ,class: "btn btn-md btn-primary" %></td>
        <td><%= link_to 'Edit', edit_friend_path(friend) ,class: "btn btn-md btn-primary" %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-md btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


